.nav{
    width: 26.8rem;
    background: $white;
    padding-top: 2.8rem;
    height: 4.4rem;

    @media screen and (min-width: 800px) {
        width: 57.15rem;
        padding-top: 4.6rem;
        height: auto;
    }

    @media screen and (min-width: 1440px) {
        width: 102.75rem;
        padding-top: 4.6rem;
        padding-left: 7.65rem;
    }
    &__logo{
        width: 1.7rem;
        margin-left: 1.2rem;
        margin-top: -0.2rem;
        background: $white;

        @media screen and (min-width: 800px) {
            width: 2rem;
            margin-left: 2.8rem;
            display: inline-block;
        }

        @media screen and (min-width: 1440px) {
            margin-left: 2.95rem;
            margin-top: -0.45rem;
            width:1.8rem
        }
    }

    &__menu{
        display: block;
        position: absolute;
        left: 1.0rem;
        background-color: $white;
        width: 25rem;
        border-right: 2px solid $teal;
        border-bottom: 2px solid $teal;
        padding: 3rem 0;
        border-radius: 5rem 0 5rem 0;
        clip-path: polygon(90% 3%, 97% 3%, 97% 10%, 90% 10%);

        &Link{
            text-decoration: none;
            text-align: center;
            display: block;
            padding: 2.5rem 0;
            color: $darkBlue;
            font-size: 1.7rem;
            letter-spacing: 1.17px;
        }

        &Seprarator{
            display: block;
            margin: auto;
            width: 15rem;
            border-bottom: 1px solid $lightTeal;
        }

        &-open{
            animation: showMenu 1s forwards;
            filter: brightness(98%);
        }
    }

    @keyframes showMenu {
        0%{
            clip-path: polygon(90% 3%, 97% 3%, 97% 10%, 90% 10%);
        }
        1%{
            clip-path: polygon(-10% 0, 110% 0, 110% 0, -10% 0);
        }
        20%{
            -webkit-box-shadow: 0px 0px 0px 0px #000000;
            box-shadow: 0px 0px 0px 0px #000000;
        }
        90%{
            clip-path: polygon(-10% 0, 110% 0, 110% 120%, -10% 120%);
        }
        100%{
            clip-path: polygon(-10% 0, 110% 0, 110% 120%, -10% 120%);
            -webkit-box-shadow: 0px 20px 15px 0px #000000;
            box-shadow: 0px 20px 15px 0px #000000;
        }
    }


    &__icon{
        float: right;
        width: 2.55rem;
        margin-top: -0.6rem;
        margin-right: 0.8rem;
        background: $white;
        padding: 0.4rem;

        &-open{
            filter: brightness(98%);
            border: 2px solid $teal;
            -webkit-box-shadow: 0px 20px 15px 0px #000000;
            box-shadow: 0px 20px 15px 0px #000000;
        }

    }

    @media screen and (min-width: 800px) {
        ul{
            display: inline-block;
            position: relative;
            left: 3.4rem;
            top: -0.5rem;
            @media screen and (min-width: 1440px) {
                left: 3.25rem;
                top: -0.15rem;
              }
            
        }

        li{

            display: inline-block;
            a{
                text-decoration: none;
                font-size: 1.34rem;
                margin-right: 1.5rem;
                color: $black;

                @media screen and (min-width: 1440px) {
                    margin-right: 1.2rem;
                  }
            }



        }
    }
    &__btn{
        position: absolute;
        top: 3rem;
        left: 39.6rem;
        @media screen and (min-width: 1440px) {
            top: 2.9rem;
            left: 78.1rem;
          }

    }

}